[include]
	path=~/.gitconfig.local
[alias]
	st = status
	co = checkout
	br = branch
	logg = log --graph --oneline --decorate
	diffc = diff --cached
	commit = commit -v
[core]
	excludesfile = C:/Users/keigo/.gitignore
