[include]
	path=~/.gitconfig.local
[alias]
	st = status
	co = checkout
	br = branch
	logg = log --graph --oneline --decorate
	logn = log --name-status
	diffc = diff --cached
	cm = commit -v
[core]
	excludesfile =~/.gitignore
