[include]
	path=~/.gitconfig.local
[alias]
	st = status
	co = checkout
	br = branch --sort=-authordate
	logg = log --graph --oneline --decorate --date-order
	logn = log --name-status
	diffc = diff --cached
	cm = commit -v
[core]
	excludesfile =~/.gitignore
[merge]
	ff = false
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
